<link rel="stylesheet" href="/css/partial.css">
<nav>
  <div class="navbar">
    <h1 id="nav-header">Skyrockit</h1>
    <div id="nav-links">
      <% if(user) { %>
        <a class="authlink" href="/users/<%= user._id %>/applications">Your Apps</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      <% } else { %>
        <a class="authlink" href="/auth/sign-in">Sign in</a>
        <a class="authlink" href="/auth/sign-up">Sign up</a>
      <% } %>
    </div>
  </div>
</nav>
